*,
*::after,
*::before {
  outline: 3px solid red;
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: rgba(11, 11, 11, 0.5); }

.container {
  margin: 0 auto;
  max-width: 128rem;
  height: 34.4rem;
  overflow: hidden; }

.encabezado {
  display: flex;
  justify-content: center; }

.title {
  width: 60.8rem;
  height: 12.2rem;
  margin-top: 4rem; }

.title__event {
  color: #dc56c5;
  font-weight: 900;
  font-size: 5rem;
  left: 6.5rem;
  text-align: center; }
